---
import Layout from "../layouts/Layout.astro";
---

<Layout noPadding>
  <!-- <Welcome /> -->
  <!-- <Projects /> -->
  <article class="article-about">
    <img src="/images/pexels-harrisonhaines.webp" alt="" class="images-about">
    <p class="description">Zaky is an emerging Web Developer with hands-on experience in the foundational aspects of web development, including HTML, CSS, and JavaScript. Demonstrated the ability to collaborate effectively in team settings and contribute to web application projects, with a strong commitment to learning and applying new technologies. Recognized for strong problem-solving skills and a proactive approach to troubleshooting and user experience design.</p>
  </article>


</Layout>
