---
import Layout from "../layouts/Layout.astro";
---

<Layout noPadding>
  <!-- <Welcome /> -->
  <!-- <Projects /> -->
  <article class="article-about">
    <img src="/images/pexels-harrisonhaines.webp" alt="" class="images-about">
    <p class="description">Max Ayalla is an art director and brand designer in Kansas City, KS. Millieangelo Design Co., c/o MDC, is his creative haus specializing in art direction, visual identities, and brand strategy. The practice works with organizations of all sizes and shapes, from independent entrepreneurs to music artists and record labels, to commercial institutions</p>
  </article>


</Layout>
