/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
:root {
  --linear-gradient-bg-color1: #F9FAFB;
  --linear-gradient-bg-color2: #D2D6DB;
  --base-fs: 1.5rem;
  --text-lg: 1.75rem;

  --space-3xs: clamp(0.3125rem, 0.2905rem + 0.0939vw, 0.375rem);
  --space-2xs: clamp(0.5625rem, 0.4965rem + 0.2817vw, 0.75rem);
  --space-xs: clamp(0.875rem, 0.787rem + 0.3756vw, 1.125rem);
  --space-s: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
  --space-m: clamp(1.6875rem, 1.4894rem + 0.8451vw, 2.25rem);
  --space-l: clamp(2.25rem, 1.9859rem + 1.1268vw, 3rem);
  --space-xl: clamp(3.375rem, 2.9789rem + 1.6901vw, 4.5rem);
  --space-2xl: clamp(4.5rem, 3.9718rem + 2.2535vw, 6rem);
  --space-3xl: clamp(6.75rem, 5.9577rem + 3.3803vw, 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1585rem + 0.6573vw, 0.75rem);
  --space-2xs-xs: clamp(0.5625rem, 0.3644rem + 0.8451vw, 1.125rem);
  --space-xs-s: clamp(0.875rem, 0.6549rem + 0.939vw, 1.5rem);
  --space-s-m: clamp(1.125rem, 0.7289rem + 1.6901vw, 2.25rem);
  --space-m-l: clamp(1.6875rem, 1.2254rem + 1.9718vw, 3rem);
  --space-l-xl: clamp(2.25rem, 1.4577rem + 3.3803vw, 4.5rem);
  --space-xl-2xl: clamp(3.375rem, 2.4507rem + 3.9437vw, 6rem);
  --space-2xl-3xl: clamp(4.5rem, 2.9155rem + 6.7606vw, 9rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.4648rem + 2.8169vw, 3rem);

  /* type 18px-24px */
  --step--2: clamp(0.7813rem, 0.7183rem + 0.2685vw, 0.96rem);
  --step--1: clamp(0.9375rem, 0.8451rem + 0.3944vw, 1.2rem);
  --step-0: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
  --step-1: clamp(1.35rem, 1.1651rem + 0.7887vw, 1.875rem);
  --step-2: clamp(1.62rem, 1.3652rem + 1.0873vw, 2.3438rem);
  --step-3: clamp(1.944rem, 1.5969rem + 1.4808vw, 2.9297rem);
  --step-4: clamp(2.3328rem, 1.8647rem + 1.9971vw, 3.6621rem);
  --step-5: clamp(2.7994rem, 2.1732rem + 2.6716vw, 4.5776rem);

}

/* html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
} */

body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* background-image: linear-gradient(150deg, var(--linear-gradient-bg-color1), var(--linear-gradient-bg-color2)); */
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #EBEBE8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

* {
  box-sizing: border-box;
}

.card-body>* {
  margin-bottom: .75rem;
}

.card-body button {
  color: #4338CA;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.project {
  justify-content: center;
}

/* navbar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover {
  /* color: #C9B59C; */
  color: #C2A68C;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (min-width: 769px) {

  nav {
    background-color: #EBEBE8;
    /* background: red; */
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    padding: 1.4rem;
  }

  nav span {
    display: none;
  }

  .sidenav {
    position: static;
    width: auto;
    /* width: 100%; */
    height: auto;
    transition: none;
    padding-top: 0rem;
    /* margin-top: 2rem; */
    overflow: visible;
    text-align: initial;
    /* background-color: red; */
    /* background-color: #EBEBE8; */
    margin-left: var(--space-2xl);
    /* margin-top: 2rem; */

  }

  .sidenav a {
    font-size: inherit;
    padding: initial;
    display: block;
    color: inherit;
    padding-inline: .54rem;
    font-weight: 700;
    float: left;

  }

  .sidenav .closebtn {
    display: none;
  }

  .project {
    margin-top: 3rem;
    gap: 2;
  }
  
  .project .card{
    transition: scale .43s;
  }

  .project .card:hover{
    scale: 1.02;
  }
}