/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
:root {
  --linear-gradient-bg-color1: #F9FAFB;
  --linear-gradient-bg-color2: #D2D6DB;
  --base-fs: 1.5rem;
  --text-lg: 1.75rem;

}

/* html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
} */

body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* background-image: linear-gradient(150deg, var(--linear-gradient-bg-color1), var(--linear-gradient-bg-color2)); */
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #EBEBE8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

* {
  box-sizing: border-box;
}

.card-body>* {
  margin-bottom: .75rem;
}

.card-body button {
  color: #4338CA;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.project {
  justify-content: center;
}

/* navbar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover {
  /* color: #C9B59C; */
  color: #C2A68C;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) {

  nav {
    background-color: #EBEBE8;
  }

  nav span {
    display: none;
  }

  .sidenav {
    position: static;
    width: auto;
    height: auto;
    transition: none;
    padding-top: 0;
    overflow: visible;
    text-align: initial;
    background-color: transparent;

  }

  .sidenav a {
    font-size: inherit;
    padding: initial;
    display: inline;
    color: inherit;
  }

  .sidenav .closebtn {
    display: none;
  }
}